# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# Stil-Basis: LLVM Google Chromium Mozilla WebKit Microsoft GNU
BasedOnStyle: LLVM
IndentWidth: 4      # Einrückung mit 4 Leerzeichen
TabWidth: 4         # Tabulatoren zählen als 4 Leerzeichen
UseTab: Never       # Never|Always 
BreakBeforeBraces: Attach   # Allman / Attach / Linux / Stroustrup / Mozilla 
ColumnLimit: 0    # 80, 100, 0 (kein Limit)	Maximale Zeilenlänge
AllowShortIfStatementsOnASingleLine: true   # if/else immer mit Blockklammern umbrechen
AllowShortLoopsOnASingleLine: true          # true | false Einzeilige for/while Schleifen
AllowShortFunctionsOnASingleLine: Inline     # None / Inline / All  sehr kurze Funktionen dürfen einzeilig bleiben
KeepEmptyLinesAtTheStartOfBlocks: false       # keine leeren Zeilen direkt nach {
SpacesBeforeTrailingComments: 2               # 2 Anzahl Leerzeichen vor Endkommentaren //
SpaceAfterCStyleCast: false                    # true | false Leerzeichen nach C-Cast: (int) x
SpaceBeforeParens: Never          # Never | ControlStatement  Leerzeichen vor ( bei if, while, for
SpacesInParentheses: false          # true/false	Leerzeichen innerhalb von ()
BinPackArguments: true  # true/false	Argumente in Funktionsaufrufen auf eine Zeile packen
BinPackParameters: true # true/false	Gleiches für Funktionsdefinitionen
SortIncludes: false       # true/false	Automatisch #includes sortieren
