# Hardware Adresse des Mikrophones
# Alle Verfügbaren Geräte können angezeigt werden mit:
#
#  arecord -l
#
# Beispiel:
# mic=plughw:0,0
# mic=default
#
mic=plughw:0,0


# Abtastzeit der Transcriptionszeit in Sekunden. Danach wird auf Übereinstimmungen geprüft 
# und wieder von vorne angefangen falls wakeword nicht erkannt wurde!
#
record_duration=4


# Wakeword 
# Dieses Wort muss zuerst erkannt werden damit danach ein Schaltbefehl
# gesucht und ausgeführt wird!
#
wakeword=system


# whisper.cpp Model
model=/models/ggml-small.bin
vadmodel=/models/ggml-silero-v5.1.2.bin

# Sprachdatei der Stimmenausgabe
piper_model=de_DE-thorsten-medium.onnx




# Wenn dieses Programm als Remote Sprach-Fernbedienung laufen soll,
# kann hier ein Benutzername + Host/IP + Port zur Energiebox angegeben werden.
# Sollte dieses Programm auf der Energiebox selber laufen, Feld leer lassen!
#
# Für Remote Sprach-Fernbedienungs Funktion:
# Zuvor beachten das auf diesem Computer folgendes ausgeführt wurde:
#
# Zuerst ein SSH Key erstellen
# ssh-keygen -t rsa
# Als Eingabe lassen wir alles leer und drücken einfach nur Enter.
# Um diesen Key mit der Energiebox zu Verbinden folgendes Ausführen:
# ssh-copy-id -p 2222 box@home.cplusplus-development.de
# Danach Passwort eingeben, prüfen der Verbindung mit:
# ssh -p 2222 box@home.cplusplus-development.de
# Beispiel 1: box@home.cplusplus-development.de:2222
# Beispiel 2: box@10.0.0.4
#
ssh_remote_addr=box@home.cplusplus-development.de:2222
