# Hardware Adresse der Audiodatei
# Alle Verfügbaren Geräte können mit 'arecord -l' angezeigt werden!
# Meistens plughw:0,0 oder default
mic=plughw:0,0

# Aufnahmezeit, danach wird auf Übereinstimmungen geprüft 
# und wieder von vorne angefangen!
record_duration=4

# Das Wakeword aktiviert die Aufzeichnung für die Befehlseingabe. 
# Das Wakewort muss hier in kleinen Buchstaben definiert werden!!!!
wakeword=system

# 
whisperpath=/home/blade83/whisper.cpp/build/bin
model=/home/blade83/whisper.cpp/models/ggml-small.bin

#
piper_model=/home/blade83/Projekte/Jarvis/piper/de_DE-thorsten-medium.onnx
piperpath=/home/blade83/Projekte/Jarvis/piper

# 
ssh_remote_addr=box@10.0.0.4
